.btn {
	width: fit-content;
	padding: 5px 10px;
	border-radius: 2rem;
	color: var(--primary-text);
	transition: transform 0.2s ease-in;

	&.primary {
		background-color: var(--bg-btn-primary);
	}

	&.secondary {
		background-color: var(--bg-btn-secondary);
	}

	&:hover {
		transform: scale(1.1);
	}

	&.flex {
		display: flex;

		&.center {
			align-items: center;
			justify-content: center;
		}
	}
}
