button.task__button-add {
	width: fit-content;
	background-color: var(--color);
	padding: 5px 10px;
	border-radius: 2rem;
	color: var(--primary-text);
	transition: transform 0.2s ease-in;

	&:hover {
		transform: scale(1.1);
	}

	&.flex {
		display: flex;

		&.center {
			align-items: center;
			justify-content: center;
		}
	}
}
