@use '@/assets/scss/variables.scss' as *;
@use '@/assets/scss/widthDevices.scss' as *;

.header {
	height: 50px;
	width: 100%;
	padding: 10px 20px;
	font-size: 3rem;
	font-weight: 600;
	background: transparent;
	display: flex;
	align-items: center;
	justify-content: space-around;

	&__title {
		width: 250px;
	}

	@include for-max-width($mobile-large) {
		justify-content: space-evenly;
	}
}
