@use '@/assets/scss/variables.scss' as *;
@use '@/assets/scss/widthDevices.scss' as *;
.sidebar {
	width: $sidebarWidth;
	height: 100vh;
	transition: margin-left 0.5s ease-in-out;
	position: relative;
	background-color: var(--bg-secondary);
	margin-left: calc(-1 * $sidebarWidth * 0.8);

	@include for-max-width($tablet) {
		margin-left: calc(-1 * 100% * 1);
		position: fixed;
		top: 0;
		left: 0;
		z-index: 50;
		width: 100%;
	}

	&.active {
		margin-left: 0;
	}

	&__container {
		width: 85%;
		padding: 50px 0 20px 20px;
		display: flex;
		flex-direction: column;
		gap: 50px;
	}

	&__active-btn {
		width: 24px;
		height: 24px;
		font-size: 1.5em;
		color: var(--primary-text);
		display: flex;
		align-items: center;
		position: absolute;
		top: 10px;
		right: 10px;

		@include for-max-width($tablet) {
			position: fixed;
			top: 5px;
			right: calc(100% - 25px);
		}
	}

	&__account,
	&__panel {
		width: 100%;
	}

	// Account
	&__account {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 7px;

		&__title {
			font-weight: 700;
			opacity: 0.8;
			width: 100%;
		}

		&__btn {
			background: var(--bg-primary);
			width: fit-content;
			border-radius: 15px;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 10px 40px;
			transition: transform 0.3s ease;

			&:hover {
				transform: scale(110%);
			}

			&__img {
				width: 32px;
				height: 32px;
				margin-right: 20px;
				margin-left: -20px;
			}

			&__text {
				font-weight: 600;
				opacity: 0.9;
			}
		}
	}

	// Main menu, Projects
	&__projects,
	&__main-menu {
		&__title {
			font-weight: 700;
			opacity: 0.8;
			width: 100%;
			margin-bottom: 5px;
		}

		&__list {
			margin-left: 20px;
			display: flex;
			flex-direction: column;
			gap: 8px;

			&__item {
				transition: transform 0.5s ease;

				&:hover {
					transform: translateX(5px);
				}
			}
		}
	}
}
