@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
	font-family: 'Manrope', sans-serif;
	font-optical-sizing: auto;
	line-height: 1.5;
	font-weight: 400;
	background-color: var(--bg-primary);

	color-scheme: light dark;

	--primary-text: #333333;
	--secondary-text: #fefefe;
	--bg-primary: #fafafa;
	--bg-secondary: #d8d8d8;
	--color: darkturquoise;
}

:root.dark {
	--primary-text: #fefefe;
	--secondary-text: #333333;
	--bg-primary: #171717;
	--bg-secondary: rgb(43, 42, 42);
}
