@use '@/assets/scss/widthDevices.scss' as *;

.layout {
	width: 100%;
	display: flex;
	justify-content: space-between;
	overflow-y: hidden;

	&__outlet {
		width: 100%;
		max-height: 100vh;
		overflow-y: auto;
		-ms-overflow-style: none;
		scrollbar-width: none;

		.padding {
			padding: 0 30px;

			@include for-max-width($mobile-large) {
				padding: 0 15px;
			}
		}

		&::-webkit-scrollbar {
			display: none;
		}
	}
}
